body {
    font-family: 'Karla', sans-serif;
    box-sizing: border-box;
    line-height: 1.6;
    background-color: #e5eff5;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    width: 45vw;
    padding: 2em;
    margin: 1em; 
}

.joinCommunity {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border:0;
    height: 20vh;
    padding: 2em;
    padding-top: 2.5em;
    padding-bottom: 1em;
    border-radius: 10px 10px 0 0;
}

.jc_header {
    color: hsl(179, 62%, 43%);
    font-size: 1.5em;
    display: flex;
    align-self: flex-start;
    margin: 0;
}

.jc_moneyBack {
    color: hsl(71, 73%, 54%);
    font-size: 1em;
    display: flex;
    align-self: flex-start;
    margin: 0;
    padding: 0;
}

.jc_text {
    color: hsl(218, 22%, 67%);
    font-size: 1em;
    display: flex;
    align-self: flex-start;

}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    margin: 0;
}

.subscriptionPlan {
    box-sizing: border-box;
    width: 50%;
    padding: 1.5em;
    padding-left: 2.5em;
    height: 35vh;
    background-color: hsl(179, 62%, 43%) ;
    border-radius: 0 0 0 10px;
}

h3 {
    color: hsl(204, 43%, 93%);
    font-size: 1em;
}

.dollar {
    color: hsl(204, 43%, 93%);
    font-size: 2em;
    font-weight: 700;
    opacity: 1;
    margin:0;
}

.sp_perMonth{
    color: hsl(204, 43%, 93%);
    font-size: 1em;
    vertical-align: baseline;
    opacity: 0.3;
    margin:0;
}

.sp_text {
    color: hsl(204, 43%, 93%);
    font-size: 1em;
}

.sp_btn{
    background-color: hsl(71, 73%, 54%);
    border-radius: 5px;
    border: 0px;
    color: hsla(203, 44%, 93%, 0.888);
    font-family: Karla;
    font-weight: 700;
    font-size: 1em;
    width: 90%;
    height: 3rem;
    box-shadow: 0px 5px 5px 5px hsl(179, 50%, 43%);;

}

.offer {
    box-sizing: border-box;
    width: 50%;
    padding-left: 1em;
    height: 35vh;
    background-color: hsl(179, 45%, 53%) ;
    border-radius: 0 0 10px 0;
    padding: 1.5em;
    padding-left: 2.5em;
}

.offer_text {
    color: hsl(204, 43%, 93%);
    font-size: 0.8em;
    opacity: 0.8;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 600px){
 /* changed screen-width to 420px since there are quite some bigger screens */
    .container {
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 1em;
    }
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1em;
        margin: 0;
        width: 100%;
    }

    .joinCommunity {
        margin-top: 1em;
        height: 13em;
        border-radius: 5px 5px 0 0;
        padding-top: 1em;
    }

    .jc_header{
        font-size: 1.2em;
        font-weight: 400;
        padding-bottom: 0.5em;
    }

    .jc_moneyBack {
        font-weight: 400;
    }

    .jc_text {
        font-size: 0.85em;
    }

    .subscriptionPlan {
        width: 100%;
        border-radius: 0;
        height: 14em;
        padding-top: 0.8em;
        padding-left: 1.5em;
        padding-right: 1.5em;
        /* padding-left: 1.5em; */
    }

    .dollar {
        line-height: 0.5;
    }
    .sp_perMonth{
        vertical-align: top;
    }
    .sp_btn {
        width: 100%;
    }
    .offer {
        width: 100%;
        height: 14em;
        border-radius: 0 0 5px 5px;
        padding-left: 1.5em;
        padding-top: 0.4em;
    }

}

@media screen and (max-width: 940px) and (min-width: 600px){
       .container {
           width: 80vw;
           height: 60vh;
           display: flex;
           flex-direction: column;
           justify-content: center;
           align-items: center;
           margin-top: 1em;
       }


       main {
           display: flex;
           justify-content: center;
           align-items: center;
           font-size: 1em;
           margin: 0;
           width: 100%;
       }

       .joinCommunity {
            height: 10em;        
       }

       .subscriptionPlan {
            height: 20em;
            font-size: 1.1em;
       }

       .offer {
            height: 20em;
            font-size: 1.1em;
       }
   
    }